# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
/dist/
/dist-ssr/
/build/   # sometimes 'build' is used instead of 'dist' or in addition

# Environment variables
.env
.env.*.local
.env.local

# Editor directories and files
.vscode/
!.vscode/extensions.json # allow to commit recommended extensions
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak # backup files

# Jest/Cypress/Testing specific
/coverage/

# Local Docusaurus/Vitepress/Next.js/etc. directories (if applicable)
.vite/
.cache/